.card{
    align-items: center;
    font-weight: bold;
    color: black;
    padding: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 60%;
    align-items: center;
    margin-left: 50%;
    margin-left: 20%;
    background-color: rgb(207, 144, 144);
}

.btn{
    margin-left: 46px;
}
